TOPCV_USERNAME=TOPCV_USERNAME
TOPCV_PASSWORD=TOPCV_PASSWORD

# Postgres
PG_HOST=
PG_PORT= 
PG_DB=
PG_USER= 
PG_PASSWORD=

# MinIO
MINIO_ENDPOINT= 
MINIO_ACCESS_KEY= 
MINIO_SECRET_KEY= 
MINIO_BUCKET= 

# API Key to extract CV
LIST_API_KEY=api_key_1,api_key_2,api_key_3